/* regole generali */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* regole generali body */

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.bg-lightblue{
    background-color: lightblue;
}



/* regole header */
    .conteiner-header{
        height: 60px;
        width: 100%;
        z-index: 500;
        position: fixed;

        /* DEBUG */
        background-color: red;
    }
    .conteiner-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #nav-sx{
        width: 50%;
        height: 100%;
        /* DEBUG */
        background-color: green;
    }

    #nav-dx{
        width: 50%;
        height: 100%;
        /* DEBUG */
        background-color: black;
    }

    #jumbotron{
    
        padding-top: 60px;

        /* DEBUG */
        min-height: 600px;
        width: 100%;
    }

    .conteiner-big{
        width: 90%;
        margin: 50px auto;
    }

    #main-title{
        height: 150px;
        width: 100%;

        /* DEBUG */
        background-color:  violet;
    }

    .paragrafo{
        width: 30%;

        /* DEBUG */
        min-height: 250px;
        background-color: brown;
    }

    #jb-image{
        width: 70%;

        /* DEBUG */
        min-height: 250px;
        background-color: yellow;
    }


/* regol egenrali main */
main{
    margin-top: 70px;
}

/* regole main */


.conteiner-small{
    width: 70%;
    margin: 50px auto;
}

.section-title{
    width: 100%;

    /* DEBUG */
    min-height: 70px;
    background-color: blue;
}

#fatturazione{


/* DEBUG */
min-height: 30px;
background-color: aqua;
}

.cl-fatturazione{
    height: 700px;
    width: calc(95%/3);

    /* DEBUG */
    background-color: brown
}

.cl-fatturazione-team{
    height: 350px;

    /* DEBUG */
    background-color: black;
}

#pr-image{
    width: 80%;

    /* DEBUG */
    min-height: 200px;
    background-color: blue;
}

.pr-paragrafo{
    width: 20%;

    /* DEBUG */
    min-height: 200px;
    background-color: black;
}

.cl-tutorial{
    width: calc(90%/3);

    /* DEBUG */
    min-height: 400px;
    background-color: red;
    border: solid 1px black;
    margin-bottom: 10px;
    margin-top: 10px;
}

.flex{
    display: flex;
    justify-content: space-between;
    /* DEBUG */
    
}

.cl-members{
    width: calc(100%/3);
    /* DEBUG */
    min-height: 600px;
    background-color: brown;
    border: solid 1px black
}

.logo-members{
    width: 50%;

    /* DEBUG */
    min-height: 300px;
    background-color: yellow;
    border: solid 1px black;

}

.bs-title{
    width: 70%;

    /* DEBUG */
    min-height: 150px;
    background-color: blue;
}

.button{
    width: 30%;

    /* DEBUG */
    min-height: 150px;
    background-color: yellow;
}

.scritte{

    /* DEBUG */
    min-height: 50px;
    background-color: red;
    padding: 10px 0;
}


/* regole generali footer */

footer{
    background-color: black;
    color: white;
    
    /* DEBIUG */
    min-height: 500px;
}

/* regole footer */

.cl-footer{
    width: calc(100%/5);

    /* DEBUG */
    background-color: red;
    border: solid 1px white;
    min-height: 200px;
}

.margin{
    padding-top: 80px;
}

.language{
    width: 200px;
    height: 70px;

    /* DEBUG */
    margin-top: 70px;
    background-color: red;
}

