/* regole generali */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* regole generali body */

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.bg-lightblue{
    background-color: lightblue;
}

.bg-white{
    background-color: white;
}

.bg-blue{
    background-color: blue
}

.flex{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

.center{
    text-align: center;
}

/* regole header */
    .conteiner-header{
        height: 60px;
        width: 100%;
        z-index: 500;
        position: fixed;
    }

    .conteiner-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #nav-sx{
        width: 50%;
        height: 100%;
        color: lightgrey;
    }

    #logo-small{
        height: 20px;
        margin-top: 2px;
    }

    .change-display{
        display: inline-block;
        margin: 10px;
        color: lightgrey;
    }

    #nav-dx{
        width: 50%;
        height: 100%;
        text-align: right;
    }

    .button{
        padding: 5px;
        color: white;
    }



    #jumbotron{
        height: 710px;
        padding-top: 60px;
    }

    .conteiner-big{
        width: 70%;
        margin: 50px auto;
    }

    #main-title{
        font-size: 50px;
        margin-bottom: 30px;
    }

    .jumbotron-sx{
        width: 40%;
    }

    .paragrafo{
        margin-bottom: 20px;
    }

    .annulla{
        margin-top: 20px;
        margin-bottom: 50px;
    }

    #jb-image{
         height: 420px;
         width: auto;
    }

    .jumbotron-dx{
        width: 60%; 
    }

    .fa-arrow-down{
        font-size: 70px;
        margin-top: 35px;
    }


/* regol egenrali main */
main{
    margin-top: 70px;
}

/* regole main */


.conteiner-small{
    width: 70%;
    margin: 50px auto;
}

.section-title{
    font-size: 30px;
    padding: 40px 40px 40px 0;
}

#fatturazione{
    padding-bottom: 40px;
}

.cl-fatturazione{
    height: 700px;
    width: calc(90%/3);

}

.cl-fatturazione-team{
    height: 350px;

    /* DEBUG */
    background-color: black;
}

.fatturazione-type{
    border-top: solid 1px lightslategray;
    border-right: solid 1px lightslategray;
    border-left: solid 1px lightslategray;
    text-align: center;
}

.fatturazione-caratteristiche{
    border: solid 1px lightslategray;
    height: 500px;
    padding: 20px;
}

.fatturazione-name{
    font-size: 20px;
    padding-bottom: 20px;
}

.price{
    padding-bottom: 20px;
}

.grey{
    color: lightslategray;
    margin-top: 10px;
}

.padding-table{
    padding-bottom: 20px;
}

#pr-image{
    width: 80%;

    /* DEBUG */
    min-height: 200px;
    background-color: blue;
}

.pr-paragrafo{
    width: 20%;

    /* DEBUG */
    min-height: 200px;
    background-color: black;
}

.cl-tutorial{
    width: calc(90%/3);

    /* DEBUG */
    min-height: 400px;
    background-color: red;
    border: solid 1px black;
    margin-bottom: 10px;
    margin-top: 10px;
}


.cl-members{
    width: calc(100%/3);
    /* DEBUG */
    min-height: 600px;
    background-color: brown;
    border: solid 1px black
}

.logo-members{
    width: 50%;

    /* DEBUG */
    min-height: 300px;
    background-color: yellow;
    border: solid 1px black;

}

.bs-title{
    width: 70%;

    /* DEBUG */
    min-height: 150px;
    background-color: blue;
}

.buttons{
    width: 30%;

    /* DEBUG */
    min-height: 150px;
    background-color: yellow;
}

.scritte{

    /* DEBUG */
    min-height: 50px;
    background-color: red;
    padding: 10px 0;
}


/* regole generali footer */

footer{
    background-color: black;
    color: white;
    
    /* DEBIUG */
    min-height: 500px;
}

/* regole footer */

.cl-footer{
    width: calc(100%/5);

    /* DEBUG */
    background-color: red;
    border: solid 1px white;
    min-height: 200px;
}

.margin{
    padding-top: 80px;
}

.language{
    width: 200px;
    height: 70px;

    /* DEBUG */
    margin-top: 70px;
    background-color: red;
}

